  * {
    box-sizing: border-box;
    margin: 0; 
    /* temporary border to better see work in progress
    border: 1px solid black; */
  }

body {
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #ffffff;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
        background: #d6f9ff; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #d6f9ff 0%, #9ee8fa 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #d6f9ff 0%,#9ee8fa 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #d6f9ff 0%,#9ee8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* HEADER */

#headerMainRow {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: auto;
}

#headerMainColLeft {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#headerLogoRow {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#headerLogoCol {
    height: 100vh;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#headerMainColRight {
    height: 100vh;
}

#headerBg {
    position: absolute;
    top: 0;
    z-index: 999;
    width: auto;
    height: 38%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#logo {
    position: relative;
    top: 50px;
    z-index: 999;
    width: auto;
    height: 32%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 30px;
}

#gameName {
    position: relative;
    top: 0;
    z-index: 999;
    font-family: Oxygen;
    color: #ffffff;
    font-size: 23px;
    padding: 20px 0px 2px 95px;
}

#gameSubtitle {
    position: absolute;
    top: 15;
    z-index: 999; 
    width: 100%;
    font-family: 'Lilita One', cursive;
    color: #430280;
    -webkit-text-stroke-color:#ffffff;
    -webkit-text-stroke-width: 1.5px;
    text-shadow: 
        3px 3px 0 #f1f894,
        -1px -1px 0 #f1f894,
        1px -1px 0 #f1f894,
        -1px 1px 0 #f1f894,
        1px 1px 0 #f1f894;
    font-size: 80px;
    padding: 10px 0px 100px 50px;
}

#masthead { 
    /* position: fixed; */
    z-index: 1000;
    height: 25%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* overflow: auto; */
    /* line-height: 20px; */
    top: 0;
}

.btn-primary {
    color: #ffffff;
    background-color: #430280;
    border-color: #430280;
    width: 75px;
    margin-left: 10px;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(247, 103, 199);
    border-color: #ffffff;
}

#playername {
    border-radius: 5px 5px 5px 5px !important;
}

#mainContainer {
    position: absolute;  /* impacts my sticky header but if I turn it off, the noose is in front of my player info */
    z-index: 1000;
    width: 100%;
    height: auto
    margin: 0px 0px 0px 0px;
}

#scoreboard {
    width: 100%;
    height: 175px;
    background-color: #f1f894;
    border: 1px solid #f1f894;
    border-radius: 10px;
    margin: 200px 0px 20px 0px;
    padding-top: 30px;
}

.input-group-text {
    width: 100%;
    background-color:#f1f894;
    border-color:#f1f894;
    color: #430280;
    border-radius: 8px 0px 0px 8px !important;
}

#guesses {
    padding: 8px 0px 0px 0px;  
    font-weight: bold;
    font-size: 18px;   
}

#guessesRemaining {
    width: 40%;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #430280;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0px 0px 0px; 
    border-radius: 0px 8px 8px 0px;
}

#gameInfo {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #430280;
    border: 5px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
} 
  /* FOOTER */

  footer {
    padding: 40px 20px 0px 0px;
    clear: both;
    font-size: 12px;
    color: #430280;
    text-align: center;
    background:  rgb(247, 103, 199);
}
  
h3, h2 {
    margin-bottom: 15px;
    line-height: 22px;
    /* border-bottom: 2px solid #eeeeee; */
    padding-top: 20px;
    padding-bottom: 20px;
}
/* sticky footer */
html,
body {
    height: 100%;
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
    margin-bottom: 50px;
}

footer,
.push 
{
    height: 105px;
}
/* END FOOTER */


h2 {
    font-weight: lighter;
    line-height: 110%; 
    width: 100%;
    padding: 0% 0% 0% 27%;
    color: #430280;
    border-bottom: none;
}

h3 {
    font-family: 'Lilita One', cursive;
    font-weight: normal;
    font-size: 36px;
    padding-left: 1%;
    color: #f1f894;
    white-space: nowrap;
}

#magicNumber {
    font-family: 'Lilita One', cursive;
    font-weight: normal;
    font-size: 36px;
    padding-left: 1%;
    color: #f1f894;
}

#WinsLosses {    
    font-size: 30px;    
    text-align: center;
    line-height: 30px;
    padding: 0px 0px 0px 0px;
    color: #430280;
    border-bottom: none;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    padding: 0px 0px 0px 0px;
    color: #430280;
}

#gameRules {
    padding-top: 30px;
}

#gameText {
    color: rgb(247, 103, 199);
    line-height: 25px;
    padding-left: 25px;
}


#ponyFriends {
    position: relative;
    top: 375px;
    text-align: center;
    z-index: 1000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}





.crystals {
    width: 850px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px 0px 40px;
}

/* .crystals:first-child {
    z-index: 10000;
    content: url("../images/crystal_blue-laughter.png");
    height: 100px;
} */

.crystal {
    float: left;
    position: gifs
    relative;
    top: 0;
    z-index: 999;
    border: 1px solid blueviolet;
    height: 175px;
    width: 900px;
}

#gifs {
    text-align: center;
    position: absolute;
    /* float: left; */
    top: 0;
    z-index: 10000;
}

#crysPics {
    position: absolute;
    z-index: 1000;
    top: 75px;
    float: left;
    /* position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; */
    text-align: center;
    letter-spacing: 200px;
    line-height: 150px;
    padding: 0px 0px 0px 0px;
}
