* {
    box-sizing: border-box;
    margin: 0;
    /* temporary border to better see work in progress
    border: 1px solid black; */
  }

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border: 1px solid blueviolet;
    height: 200px;
    height: 200px;
    width: 200px;
}

.crysA {
    border: 1px solid black;
}